@import url(index.css);

.mt-12p-ml-16p {
    margin-top: 12px;
    margin-left: 16px;
}

.wd-bookmarks-page-header {
    border-bottom: 1px lightgrey solid;
}

.wd-bookmarks-page-header .wd-bookmarks-header-title {
    font-size: 20px;
    color: white;
}

.wd-bookmarks-page-header .wd-bookmarks-header-user-handle {
    font-size: 13px;
    color: lightgrey;
    padding-bottom: 12px;
}

.wd-bookmarks-page-header > * {
    padding-left: 16px;
}

.wd-author-avatar {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.wd-tuit-who-posted {
}

.wd-tuit-author-data {
    padding-left: 12px;
}

.wd-tuit-author-data > * {
    font-size: 15px;
}

.wd-tuit-author-data .wd-tuit-author {
    color: white;
}

.wd-tuit-author-data .wd-tuit-handle-and-timestamp {
    color: lightgrey;
}

.wd-tuit-main-content {
    color: white;
    max-width: 506px;
    font-size: 15px;
    margin-right: 16px;
    margin-bottom: 12px;
}

.wd-tuit-auxiliary-content {
    border: 1px lightgrey solid;
    width: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 12px;
}

.wd-tuit-auxiliary-content > img.wd-tuit-linked-article-img {
    width: 504px;
    height: 264px;
    margin-left: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wd-tuit-article-info {
    margin-top: 12px;
    font-size: 15px;
}

.wd-tuit-article-info > div {
    padding: 12px;
}

.wd-tuit-article-info .wd-linked-article-header {
    color: white;
}

.wd-tuit-article-info .wd-linked-article-snip {
    color: lightgrey;
}

.wd-tuit-article-info .wd-linked-article-url {
    color: lightgrey;
}

.wd-tuit-outreach-data > a > span {
    padding: 0px 20px;
    font-size: 15px;
    color: lightgrey;
}

.wd-tuit-outreach-data .wd-tuit-likes > * {
    color: red;
}

.wd-tuit-outreach-data-icon {
    margin-right: 6px;
}

.wd-tuit-outreach-data-value {
    margin-left: 6px;
}

.wd-tuit-outreach-data > a {
    text-decoration: none;
}
